<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">">
</head>
<body>
<h1 th:if="${ticket.id == null}">Book New Ticket</h1>
<h1 th:if="${ticket.id != null}">Edit Ticket</h1>

<form th:action="${ticket.id == null} ? @{/tickets} : @{/tickets/update/{id}(id=${ticket.id})}" method="post">
    <label for="user">User:</label>
    <select name="userId" required>
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
    </select>
    <br/><br/>

    <label for="train">Train:</label>
    <select name="trainId" required>
        <option th:each="train : ${trains}" th:value="${train.id}" th:text="${train.name}"></option>
    </select>
    <br/><br/>

    <button type="submit">Save</button>
</form>

</body>
</html>